# Flutter
**/flutter/**/.dart_tool/
**/flutter/**/.packages
**/flutter/**/build/
**/flutter/**/.flutter-plugins
**/flutter/**/.flutter-plugins-dependencies
**/flutter/**/pubspec.lock

# Node
node_modules/
dist/
.cache/

# Terraform
**/iac/.terraform/
**/iac/*.tfstate
**/iac/*.tfstate.*
**/iac/.terraform.lock.hcl

# Docker
**/.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
